name: Build and deploy docs

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install build dependencies
        run: |
          pip install --upgrade quartodoc@git+https://github.com/machow/quartodoc.git
          pip install -e .[dev]

      # =====================================================
      # Build
      # =====================================================
      - uses: quarto-dev/quarto-actions/setup@v2

      - name: Build site
        run: |
          cd docs
          make quartodoc
          make site

      # =====================================================
      # Publish
      # =====================================================
      - name: Publish to GitHub Pages
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          render: false
          path: docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # this secret is always available for github actions
